repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
    -   id: check-yaml
    -   id: no-commit-to-branch
        args: [--branch, rtd]
    -   id: check-docstring-first
    -   id: requirements-txt-fixer
    -   id: end-of-file-fixer
        exclude: |
            ^examples/
            ^docs/notebooks/
    -   id: trailing-whitespace
        exclude: |
            ^examples/
            ^docs/notebooks/


-   repo: https://github.com/pycqa/isort
    rev: 5.12.0
    hooks:
    -   id: isort
        name: isort (python)
        exclude: |
            ^examples/
            ^docs/notebooks/


-   repo: https://github.com/alan-turing-institute/CleverCSV-pre-commit
    rev: v0.6.6
    hooks:
      - id: clevercsv-standardize
